:root {
  --primary-color: #490773;
  --secondary-color: #6750a4;
  --white: white;
  --colour: rgba(0, 0, 0, 0.683);
}

body {
  font-family: "Poppins", sans-serif;
}
header {
  text-align: center;
  margin: 80px;
}
header h1,
h2,
p {
  color: var(--primary-color);
}
header h1 {
  font-weight: 500;
  font-size: 95px;
}
header h2 {
  font-size: 30px;
  font-weight: 300;
  margin: 20px auto;
}
header p {
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
  margin: 10px auto;
  letter-spacing: 2px;
}
main p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
footer {
  font-size: 15px;
  font-weight: 300;
  margin: 20px auto;
  text-align: center;
  color: var(--colour);
}
.about-section {
  text-align: center;
}
.about-section h1 {
  font-size: 75px;
  text-align: center;
}
.about-image {
  width: 80%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  display: block;
}
.about-heading {
  text-align: center;
}
.about-paragraph {
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  margin: 10px auto;
}
.icons-container {
  text-align: center;
  margin: 20px auto;
}
.social-icons a {
  font-size: 36px;
  color: rgb(62, 62, 62);
  margin: 0 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}
.social-icons a:hover {
  color: var(--secondary-color);
}
.portfolio-title {
  font-size: 80px;
  text-align: center;
}
.content-container {
  margin: 20px;
  padding: 20px;
}
.custom-navbar {
  background-color: #6750a4;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: var(--white) !important;
}

.custom-navbar .navbar-brand:hover,
.custom-navbar .nav-link:hover {
  color: #ddd !important;
}

.separator {
  height: 2px;
  width: 90%;
  max-width: 1200px;
  background-color: var(--colour);
  margin: 30px auto;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.btn-branding {
  background: var(--secondary-color);
  color: var(--white);
  border-radius: 4px;
  padding: 12px;
  margin: 10px 10px;
}
.btn-branding-outline {
  background: var(--secondary-color);
  color: var(--white);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 12px;
  margin: 10px 10px;
}
.project-description {
  padding: 100px 60px;
  text-align: center;
}

.project-description p,
.project-description h2,
.project-description a {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
img.portfolio-image {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

@media (max-width: 1200px) {
  .project-description {
    padding: 60px 30px;
  }
}

@media (max-width: 960px) {
  .project-description {
    padding: 30px 20px;
    text-align: center;
  }
  .row img {
    margin-bottom: 20px;
  }
  .portfolio-title {
    font-size: 65px;
  }
  .job-title {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .project-description {
    padding: 40px 20px;
  }
  .portfolio-title {
    font-size: 45px;
  }
  .job-title {
    font-size: 15px;
  }
  img.portfolio-image {
    display: block;
    margin: 0 auto 20px auto;
  }
  .img-fluid {
    /* will have to change this so portfolio site wont have this applied */
    display: none;
  }

  .about-paragraph {
    font-size: 14px;
    margin: 10px 20px;
  }
  .about-section h1 {
    font-size: 50px;
  }
  .about-section h2 {
    font-size: 20px;
  }
}
