body {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

h1 {
  color: rgb(0, 0, 0);

  font-weight: 600;
  font-style: italic;
}
p {
  font-weight: 300;
  font-style: normal;
}
.separator {
  height: 2px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.683);
  margin: 20px auto; 
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
